*{
    padding: 0px;
    margin: 0px;
    
}
body{
    background-color: bisque;
}
h1
{
    text-align: center;
}
.product1
{
    margin: 20px 150px;
}
.product1_d
{
    text-align: center;
    margin: 20px 150px;

}
